@import "tailwindcss";
@plugin "daisyui";


/* *{
  margin:0;
  padding:0;
  box-sizing:border-box;
} */

 :root {
  --font-spectral: 'Spectral', serif;
  --font-quicksand: 'Quicksand', sans-serif;
} 

.font-spectral  {
  font-family: var(--font-spectral);
}

.font-quicksand {
  font-family: var(--font-quicksand);
}